# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/
build/
dist/

# Turborepo
.turbo/

# Production
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local
!.env.example

# Vercel
.vercel

# Prisma
packages/database/prisma/migrations/dev/

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Misc
*.pem
.eslintcache

.vercel
